<h1>"Design is most successful when it is invisible."</h1>

<section class="grid">
  <div class="item">
    <h6>Branding</h6>
    <h4>Landfill Quarterly</h4>
    <img src="../dist/images/mountain-selfie.jpg" />
  </div>
  <div class="item">
    <h6>Branding</h6>
    <h4>Landfill Quarterly</h4>
    <img src="../dist/images/mountain-selfie.jpg" />
  </div>
  <div class="item">
    <h6>Branding</h6>
    <h4>Landfill Quarterly</h4>
    <img src="../dist/images/mountain-selfie.jpg" />
  </div>
  <div class="item">
    <h6>Branding</h6>
    <h4>Landfill Quarterly</h4>
    <img src="../dist/images/mountain-selfie.jpg" />
  </div>
</section>